### Print Hello World

In [1]:
print( "hello world")
print ('hello world') #you can use both "" as well as ''

hello world
hello world

 the print function by default adds a new line

### VARIABLES

In [3]:
a= 10
b= 20
a+b

30

we didn't use print for a+b but it still resulted in 30. This is because 30 is the ouput of that specific cell i.e the last line's output

In [5]:
sum =a+b
print(sum)

30

##### Naming convention for variables:
##### It can contain:
#####   //Upper and Lower case alphabets [A-Z ,a-z]
#####   //Digits [0-9]
#####   //Underscore [ _ ]
##### It is case sensitive

##### It CANNOT start with a digit

abc1= 10 valid

ab_c1= 10 valid

12cd= 10 invalid

### Comments
you can write comments by using a # in python

In [11]:
abc1= 100
#this is a comment and will be ignored by the interpreter

### Assigning diff. types of data in a variable

In [13]:
a= 10
a= 20
a= "apple"
a

'apple'

### type()
##### tells us about the type of the variable

In [15]:
a=10
type(a)

int

In [16]:
a="hello"
type(a)

str

In [30]:
a ="abc"
print(type(a))
a=10
print(type(a)) #we had to use print() to display type() result as otherwise only the last line output will get displayed and the second will not

<class 'str'>
<class 'int'>

### Python Numbers

In [19]:
a1= 23
a2= 3.4
a3= 4+5j #you can store complex nos. too
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [20]:
a= 10
a= a+1
#here, python will create a new storage for a+1 i.e 11 instead of replacing it with the storage where 10 was stored

### Id()
It gives you unique no. assosciated with the storage that the variable is pointing to

In [22]:
a= 10
print(id(a))
a= a+1
print(id(a))

140736091978456
140736091978488

In [23]:
a= 10
b= 10
print(id(a))
print(id(b))

140736091978456
140736091978456

This is optimization in python. Variables storing the same number, have the same address to store that number. Just like a & b have the same id above.

But, this not true for all nos. EXAMPLE:

In [26]:
a=1000
b=1000
print(id(a))
print(id(b))

2984057972976
2984057970736

Here, we can see that id of a & b is different despite storing the same no. 1000

##### It is only true for nos. raning from -5 to 256

#### Range of nos. in python

In python, you can store as big no. as you want to, the range of numbers is not an issue. It all depends on how much memory you have allocated to python.

### Arithmetic Operators
#### +, -, =, /
#### //, **, %

In [31]:
a= 10
b= 4
print(a-b)
print(a+b)

6
14

In [32]:
a*b

40

In [33]:
a/b # floating point division

2.5

In [34]:
a//b # integer division

2

In [35]:
a**b # exponentiation: it means a raised to the power b

10000

In [36]:
a%b #modulus: it gives the reamainder when a is divided by b

2

In [37]:
2 + (3*4)

14

In [38]:
2*3//4

1

Remember to always use brackets

#### SIMPLE INTEREST PROGRAM

In [40]:
p= 100
r= 12
t= 2
SI= (p*r*t)/100
SI

24.0

#### FARENHITE TO CELCIUS CONVERSION

In [41]:
f= 100
c= (f-32)*5/9
c

37.77777777777778

In [44]:
ci= (f-32)*5//9 # to get the integer celcius value, use integer division operator
ci

37

### Taking inputs

input() function takes the input from user

In [45]:
a =input()
a

 23

'23'

In [46]:
a= input()
b= input()
s= a+b
print(s)

 23
 34

2334

The output is 2334 and not 57

In [47]:
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

Here, a & b are being treated as strings.

This is because, the input() function treats the input always as a string

So, we will have to change the type of the input entered by the user

#### int() converts the datatype into an integer datatype

In [51]:
b= '34'
c= int(b)
type(c)

int

In [52]:
c= int(3.7)
c

3

In [1]:
c=int(33ff4)

SyntaxError: invalid decimal literal (3870631468.py, line 1)

all-digits string can only be converted

In [3]:
a= int(input())
b= int(input())
a+b

 2
 3

5

similarly

In [4]:
a= float(input())
b= float(input())
a+b

 2
 3.8

5.8