<a href="https://colab.research.google.com/github/patilgauri/DS-ML/blob/main/3_Conditionals%26Loops_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nested Conditionals**

print if even or odd. Also check if n is zero

In [7]:
n=int(input())
if n%2==0 :
  print("EVEN")
  if(n==0):
    print(" n is ZERO")
else:
  print("ODD")

30
EVEN

If n is even and if m is even print 1, if m is odd print 2. If n is odd print 3

In [8]:
n=int(input())
m=int(input())
if n%2==0:
  if m%2==0:
    print(1)
  else:
    print(2)
else:
  print(3)

20
20
1

**While Loop**

print * n number of times

In [9]:
n= int(input())
count=1
while count<=n :
  print("*")
  count+=1

5
*
*
*
*
*


print first n natural numbers

In [10]:
n =int(input())
count=1
while count<=n :
  print(count)
  count=count+1

5
1
2
3
4
5

sum of numbers from 1 to n

In [14]:
n =int(input())
sum=0
count=1
while count<=n :
  sum=sum+count
  count=count+1
print(sum)

5
15

sum of even numbers till n

In [17]:
n =int(input())
sum=0
count=1
while count<=n :
  if count%2==0:
    sum=sum+count
  count=count+1
print(sum)

6
12

**Primality Checking**

check if a number is prime or not

In [45]:
n =int(input())
count=2
isPrime= True
if n <= 1: # Handle numbers less than or equal to 1
  isPrime = False
else:
  while count<n:
    if(n%count==0):
      isPrime= False
      break
    count=count+1

if isPrime==True:
  print("Prime")
else:
  print("Not Prime")

9
Not Prime

**Nested Loops**

print all prime numbers from 2 to n

In [53]:
n=int(input())
m=2
while m<=n:
  count=2
  isPrime= True
  while count<m:
    if(m%count==0):
      isPrime= False
    count=count+1
  if isPrime:
    print(m)
  m=m+1

10
2
3
5
7

Reverse a number

In [58]:
n=int(input())
test_num=0
while(n>0):
  remainder=n%10
  test_num= (test_num*10)+ remainder
  n=n//10
print(test_num)

1234
4321

palindrome number

In [63]:
n=int(input())
org=n
test_num=0
while(n>0):
  remainder=n%10
  test_num= (test_num*10)+ remainder
  n=n//10

if test_num==org:
  print("true")
else:
  print("false")

110011
true

Sum of even and odd digits of a number

In [64]:
#eg. 132456
#sum of even digits= 2+4+6=12
#sum of odd digits= 1+3+5=9
n =int(input())
even_sum=0
odd_sum=0
while(n>0):
  current_num= n%10
  if current_num%2==0:
    even_sum=even_sum+ current_num
  else:
    odd_sum=odd_sum+ current_num
  n=n//10

print(even_sum, odd_sum)

132456
12 9

Fibonacci Sequence 0,1,1,2,3,5,8,13,21

In [69]:
n=int(input())

a=0
b=1
counter=3
if n==1:
  print(a)
else:
  print(a," ")
  print(b," ")

  while(counter<=n):
    c=a+b
    a=b
    b=c
    print(c," ")
    if(counter==n):
      print("The ",n,"th number in the sequence is", c)
    counter=counter+1

6
0
1
1
2
3
5
The  6 th number in the sequence is 5