<a href="https://colab.research.google.com/github/patilgauri/DS-ML/blob/main/5_1_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists**

Lists are collection of elements

They are exactly like arrays. They are collection of data

In [ ]:
a=[1,2,3]

In [ ]:
type(a)

list

In [ ]:
a= list([2,3,4]) #this syntax is not used much
a

[2, 3, 4]

In [ ]:
a= list() #a will be an empty list
a

[]

**Unlike strings, lists are Mutable**

It means you can change them

In [ ]:
a=[1,2,3,4]
a[3]=40
a

[1, 2, 3, 40]

In python, list can store any type of data

In [ ]:
a=[1,2,'abc',True] #list can have heterogenous data
a

[1, 2, 'abc', True]

List can have another list as it's element

In [ ]:
a=[[1,2,3],4,5,'abc']
a

[[1, 2, 3], 4, 5, 'abc']

Lists are dynamic in size, they can increase the size if required

*Another way of creating a list:*

In [ ]:
b= [ 0 for i in range(10)]
#this means for every i in range 10 add a zero to the list
b

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
b= [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b=[i*i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
c=list("hello")
c

['h', 'e', 'l', 'l', 'o']

In [ ]:
#The list() function treats the string "hello" as a sequence of characters and creates a list where each character is an element.

**List Inbuilt Functions**

add data, remove data, search data

**len() function**

In [ ]:
a=[1,2,3,4]
len(a)

4

In [ ]:
#Python does not support concatenation of a list and an integer

In [ ]:
a + 3

TypeError: can only concatenate list (not "int") to list

Concatenation of list

In [ ]:
b=[5,6,7]
a+b # a new list will be created. a and b will remain the same

[7, 1, 2, 3, 4, 5, 6, 5, 6, 7]

Multiplication

In [ ]:
a*b #this is not supported

TypeError: can't multiply sequence by non-int of type 'list'

But multiplication of list is supported

In [ ]:
a*3 #It copies the list 3 times

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

**append() function**

It adds an element at the end

In [ ]:
a=[1,2,3,4,5]
a.append(6) #adds 6 at the end
a

[1, 2, 3, 4, 5, 6]

**insert() function**

It adds data to a specific index

The existing elements are shifted to the right.

In [ ]:
#a.insert(index, object)
a.insert(0,7) #adds 7 at the 0th index
a

[7, 1, 2, 3, 4, 5, 6]

**extend() function**

It adds multiple elements at the end

In [ ]:
a.extend(b)
a #here, the value of a gets changed

[7, 1, 2, 3, 4, 5, 6, 5, 6, 7, 5, 6, 7, 1, 0, 1, 1, 0, 1, 1, 0, 1, 5, 6, 7]

In [ ]:
a=[1,2,3,4]
a.extend([0,0,1])
a

[1, 2, 3, 4, 0, 0, 1]

**remove() function**

it removes a specific element from the list

In [ ]:
a=[1,2,3,4,5,6]
a.remove(5) #5 is the element NOT the index
a

[1, 2, 3, 4, 6]

In [ ]:
a=[1,2,3,3,4,5,6]
a.remove(3)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
#remove() only deletes the first occurence

**pop() function**

It removes an element from the specific index

It gives output= the element which it has remoed from that particular index

In [ ]:
a=[1,2,3,4,5,6]
a.pop(1) #1 is the index which needs to be popped

2

In [ ]:
#b default pop removes the last element if no index value if provided
a=[1,'abc',2,'xyz']
a.pop()

'xyz'

**del**

It is a python keyword used to delete elements, slices, or even entire variables from memory.

In [ ]:
a=[1,2,3,4,5,6,7]
del a[4] #delete whatever is at a[4]
a

[1, 2, 3, 4, 6, 7]

In [ ]:
#pop return the value it deleted but del does not

**sort()**

In [ ]:
a=[3,2,5,4,1]
a.sort()
a

[1, 2, 3, 4, 5]

**max()**

returns the maximum value but the list should be homogenous

In [ ]:
b=[1,2,4,3,4,8,6,]
max(b)

8

In [ ]:
b=[1,2,'abc',3] #max() doesn't work if the list is heterogenous
max(b)

TypeError: '>' not supported between instances of 'str' and 'int'

**index()**

gives the index of a particular element

In [ ]:
b=[1,2,3,4,2,5]
b.index(2)

1

In [ ]:
#gives index of the first occurence of 2

**Output Lists**

In [ ]:
a=[2,3,7,5,1,4]

In [ ]:
for i in a:
  print(i)

2
3
7
5
1
4

**Input Lists**

In [ ]:
#first input the length of the list and then the elements

s=int(input())
a=[]
for i in range(s):
  n=int(input()) #assuming we are taking integer input
  a.append(n)
a

5
1
2
3
4
5

[1, 2, 3, 4, 5]

Taking input of list without asking for the length first:

In [ ]:
line=input()
l=  line.split()

1 2 3 4 5

['1', '2', '3', '4', '5']